/* #region common */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sp-nav-bg-color: black;
  --sp-footer-bg-color: #282828;
  --sp-main-bg-color: #141922;
  --sp-main-header-bg-color: rgba(0, 0, 0, 0.3);
  --sp-text-main-color: white;
  --sp-text-secondary-color: #a3a3a3;
  --sp-highlighter-color: #adff2f;
}

body {
  font-family: "Montserrat", serif;
}

.debug {

  * {
    border: 1px dashed white;
  }

  .top {
    height: calc(100vh - 90px);
    background-color: yellow;

    .nav {
      width: 230px;
      height: 100%;
      background-color: black;
    }
  }

  .bottom {
    height: 90px;
    background-color: var(--sp-footer-bg-color);
  }
}

/* #endregion common */

/* #region utilities */

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem -0.5rem;
}

[class^="col"] {
  padding: 0.5rem;
}

.col-2 {
  width: calc(100% / 12 * 2);
}

/* #endregion utilities */

/* #region top */

.top {
  height: calc(100vh - 90px);
  display: flex;

  /* utilities */

  .icon-text {
    font-size: 0.8rem;
    font-weight: 600;
  }

  /* utilities */

  .nav {
    width: 230px;
    overflow-y: auto;
    background-color: var(--sp-nav-bg-color);
    color: var(--sp-text-secondary-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top-nav {

      .logo {
        padding: 1.5rem;

        img {
          width: 130px;
        }

        img[alt^="small"] {
          width: 30px;
          display: none;
        }
      }

      .buttons {

        ul {
          list-style: none;

          li {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            padding: 0.5rem 1.3rem;
            border-left: 3px solid transparent;

            &:first-child {
              border-left: 3px solid var(--sp-highlighter-color);
            }

            img {
              width: 25px;
            }
          }
        }
      }

      .playlist {
        padding: 1.5rem;

        h3 {
          color: var(--sp-text-main-color);
          font-size: 1rem;
        }

        .create {
          padding: 0.75rem 0;
          display: flex;
          align-items: center;
          gap: 0.5rem;

          font-weight: 600;

          .fa-square-plus {
            font-size: 3rem;
          }
        }

        ul {
          list-style: none;

          li {
            padding: 0.5rem 0;
          }
        }
      }
    }

    .bottom-nav {
      width: 100%;
      padding: 0.5rem 1.5rem;

      .install {
        display: flex;
        gap: 0.5rem;
        padding: 0.5rem 0;
        border-bottom: 1px solid var(--sp-text-secondary-color);

        img {
          width: 15px;
        }
      }

      .user {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        padding-top: 1rem;

        img {
          width: 25px;
          height: 25px;
          background-color: var(--sp-text-secondary-color);
          border-radius: 1rem;
        }

        span {
          color: var(--sp-text-main-color);
          font-size: 0.8rem;
          font-weight: 700;
        }
      }
    }
  }

  main {
    overflow-y: auto;
    width: calc(100vw - 230px);
    background-color: var(--sp-main-bg-color);
    color: var(--sp-text-secondary-color);

    header {
      height: 90px;
      background-color: var(--sp-main-header-bg-color);
      padding: 1.5rem;
      display: flex;
      justify-content: end;
      align-items: center;

      a {
        display: inline-block;
        padding: 0.75rem 2.5rem;
        text-decoration: none;
        font-size: 0.75rem;
        font-weight: 600;
        color: var(--sp-text-main-color);
        border: 1px solid var(--sp-text-main-color);
        border-radius: 2rem;
      }
    }

    .container {
      padding: 1.5rem;

      /* utilities */

      h2 {
        color: var(--sp-text-main-color);
        font-size: 1.9rem;
        margin: 2rem 0 1rem 0;
      }

      .card {
        text-align: center;

        img {
          width: 100%;
        }

        h3 {
          padding: 0.5rem 0;
          color: var(--sp-text-main-color);
        }
      }

      .created-for,
      .most-popular {

        h5 {
          font-size: 0.95rem;
          margin-bottom: 1.5rem;
        }
      }

      /* utilities */

      nav {

        ul {
          display: flex;
          justify-content: center;
          gap: 2rem;
          list-style: none;

          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 500;

            &:first-child::after {
              display: block;
              content: '';
              width: 35px;
              height: 2px;
              margin-top: 0.25rem;
              background-color: var(--sp-highlighter-color);
            }
          }
        }
      }

      .most-popular {

        img {
          border-radius: 10rem;
        }
      }
    }
  }
}

/* #endregion top */

/* #region bottom */

.bottom {
  height: 90px;
  background-color: var(--sp-footer-bg-color);
  padding: 1rem;
  color: var(--sp-text-secondary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    height: 100%;
    padding: 0.5rem 0;

    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      height: 100%;
    }

    h5 {
      color: var(--sp-text-main-color);
    }

    .icons {
      display: flex;
      gap: 1rem;
      padding-left: 3rem;
    }
  }

  .middle {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .player {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      color: var(--sp-text-main-color);

      .fa-circle-play {
        font-size: 1.5rem;
      }
    }

    .player-bar {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      color: var(--sp-text-main-color);
      font-weight: 500;
      font-size: 0.75rem;

      .bar {
        display: flex;

        .light,
        .dark {
          display: inline-block;
          content: '';
          height: 3px;
        }

        .light {
          width: 100px;
          background-color: var(--sp-text-main-color);
        }

        .dark {
          width: 400px;
          background-color: var(--sp-text-secondary-color);
        }
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--sp-text-main-color);

    .bar {
      display: flex;

      .light,
      .dark {
        display: inline-block;
        content: '';
        height: 3px;
      }

      .light {
        width: 30px;
        background-color: var(--sp-text-main-color);
      }

      .dark {
        width: 120px;
        background-color: var(--sp-text-secondary-color);
      }
    }

  }
}

/* #endregion bottom */