/* #region common */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sp-nav-bg-color: black;
  --sp-footer-bg-color: #282828;
  --sp-main-bg-color: #141922;
  --sp-text-main-color: white;
  --sp-text-secondary-color: #a3a3a3;
}

body {
  font-family: "Montserrat", serif;
}

.debug {

  * {
    border: 1px dashed white;
  }

  .top {
    height: calc(100vh - 90px);
    background-color: yellow;

    .nav {
      width: 230px;
      height: 100%;
      background-color: black;
    }
  }

  .bottom {
    height: 90px;
    background-color: var(--sp-footer-bg-color);
  }
}

/* #endregion common */

/* #region utilities */



/* #endregion utilities */

/* #region top */

.top {
  height: calc(100vh - 90px);
  background-color: var(--sp-main-bg-color);

  .nav {
    width: 230px;
    height: 100%;
    background-color: black;
  }
}

/* #endregion top */

/* #region bottom */

.bottom {
  height: 90px;
  background-color: var(--sp-footer-bg-color);
}

/* #endregion bottom */